body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

/* MAIN APP BACKGROUND */
.app {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  background: linear-gradient(120deg, #000000, #000000f6);
}

/* floating circles effect */
.app::before,
.app::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.6;
  animation: float 12s infinite alternate;
}

.app::before {
  background: #473540;
  top: -100px;
  left: -100px;
}

.app::after {
  background: #252530;
  bottom: -100px;
  right: -100px;
}

@keyframes float {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(50px) translateX(50px);
  }
}

/* Background animation */
@keyframes moveBg {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* Title */
.title {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255); /* ✅ ADD THIS */
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-box input {
  padding: 12px 20px;
  width: 300px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

/* Glow effect */
.search-box input:focus {
  box-shadow: 0 0 15px #2c767a;
}

/* Grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Image Card */
.image-card {
  position: relative;
}

.image-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.image-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #1f9bb1;
}

/* Download Button */
.download-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 18px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.download-btn:hover {
  background: #00f2fe;
  color: black;
  transform: scale(1.1);
}

/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #00f2fe;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* No Results */
.no-results {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 60px;
  color: #ffffff;

  animation: fadeBounce 1.5s ease;
}

/* animation */
@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.9);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}