.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);

  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #00f2fe;
  transform: scale(1.1);
}